# Database connection config
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE_NAME=FREEPDB1
DB_USERNAME=username
DB_PASSWORD=password
DB_CONTAINER_NAME=oracle-db
# this is used once to create the schema for a new database user, and then can be deleted
DB_SYSTEM_PASSWORD=password

# jwt secret (generate by: openssl rand -base64 32)
JWT_SECRET=jwt-sercret
JWT_REFRESH_SECRET=jwt-resfresh-secret