# Database connection config
DB_HOST=localhost
DB_PORT=1521
DB_SERVICE_NAME=FREEPDB1
DB_USERNAME=username
DB_PASSWORD=password

# this is used once to create the schema for a new database user, and then can be deleted
DB_SYSTEM_PASSWORD=password
